
$primary-color: #ffffff;

// $boots-blue: #004990;
$light-blue-active: #e5eff9;
$blackColor: #000;
$red:         #c4144f;

$green:       #3f8266;

$blue:        #004990;
$boots-blue:  $blue;
$lightBlue:   #cae0f5;
$darkBlue:    #1b355c;
$blue2:       #cae0f5;

$grey:        #b3b3b3;
$mediumGrey:  #b3b3b3;
$lightGrey:   #f5f5f5;
$darkGrey:    #414141;
$grey2:       #b6b6b6;

$black:       #000000;

$white:       #ffffff;