.lightBlueButton {
  width: 100%;
  max-width: 23.125em;
  height: 3.75em;
  border-radius: 6px;
  color: $boots-blue;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.25em;
  background-color: $lightBlue;
  cursor: pointer;
  border-radius: 6px;
  border: solid 2px $boots-blue;
  margin-bottom: 1.875em;
}